@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
body{
  background: #ee9ca7;
  background: -webkit-linear-gradient(to top, #ffdde1, #ee9ca7);
  background: linear-gradient(to top, #ffdde1, #ee9ca7);
}
.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px;
  background: linear-gradient(to right, #ed4264, #ffedbc);
  border-bottom: 1px solid #e9ecef;
  position: relative;
}
.project-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-name h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.project-name h1 {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin: 0;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 8px;
  border-radius: 15px;
  background: linear-gradient(to left, #ed4264, #f9e3a6);
  transition: 0.5s;
}
.contact:hover {
  transform: scale(1.1);
}
.contact p {
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin: 0;
  cursor: pointer;
}

.content-wrapper {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  background: #ee9ca7;
  background: -webkit-linear-gradient(to top, #ffdde1, #ee9ca7);
  background: linear-gradient(to top, #ffdde1, #ee9ca7);
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    /* border: 2px solid rgba(17, 142, 214, 0.925);
    border-radius: 40% 25% 74% 25% / 34% 25% 75% 41%;
    background-color: rgba(17, 142, 214, 0.925);
    box-shadow: rgba(199, 199, 8, 0.726) 0px 5px 15px; */
    animation: container-fade-in 2s ease-in-out forwards;
}
@keyframes container-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.title{
    margin-top: 80px;
    margin-left: 60px;
}
.title> h1{
    /* font-family: "Edu AU VIC WA NT Hand", cursive; */
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    color: white;
    animation: title-text-appear 1s ease-in-out forwards alternate;
}
@keyframes title-text-appear {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.form{
    margin-right: 130px ;
    margin-top: 200px;
}

.data{
    display: flex;
    flex-direction: column;
    gap: 15px ;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 40px ;
    background-color: #FFDDE1;
    animation: form-slide-in 1s ease-in-out forwards;
}
@keyframes form-slide-in {
    from {
      transform: translateX(100px);
      opacity: 0;
    }
    to {
      transform: translateX(0px)
    }
}
.info{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 25px;
    margin-left: 15px;
    color: #EE9CA7;
}
h1{
  color: #EE9CA7;
}
input{
    font-size: 25px;
    border-radius: 25px;
    padding: 8px ;
    border-color: rgb(89, 89, 238);
}
button{
    width:100%;
    background-color: #EE9CA7;
    border:  2px solid black;
    border-radius: 25px;
    font-size: 20px ;
    padding: 12px;
    color: white;
}
button:hover{
    cursor: pointer;
    box-shadow: #F34755 0px 5px 10px;
}

img{
  width: 850px;
  height: 590px;
  /* mix-blend-mode: multiply; */
}
@media (max-width: 576px) {
  img {
    width: 400px;
    height: 280px;
  }
}
@media (max-width: 480px) {
  img {
    width: 300px;
    height: 210px;
  }
}